target
lib_managed
src_managed
project/boot
project/build/target
project/sbt_project_definition.iml
project/plugins/lib_managed
project/plugins/src_managed
project/plugins/target
out
*.iml
*.ipr
*.iws

